<%= form_for(@encuesta, :url => ruta, :method => metodo) do |f| %>
  <% if @encuesta.errors.any? %>
    <div id="error_explanation">
      <% no_err = @encuesta.errors.count %>
      <h2><%=  pluralize(no_err, "error") %> <%if no_err > 1 %> impiden<%else%> impide <%end %>   guardar esta encuesta:</h2>

      <ul>
      <% @encuesta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<blockquote style="margin-bottom: 30px;">
  <p>
  <h3><%= f.label :nombre, "Nombre de la encuesta: ", :style => "margin-right: 10px;" %></h3><br/>
    <%= f.text_field :nombre %>
  </p>
</blockquote>

<div id="encabezado">
  <%= f.fields_for :encabezado do |builder|%>
    <%= builder.text_area :texto, :rows => 3 %>
  <% end %>
</div>
  <%= f.fields_for :preguntas do |builder| %>
    <%= render "preguntas", :f => builder %>
<hr style=" height: 15px;color: #62c462;"></hr>
  <% end %>

<p><%= link_to_add_fields "Agregar pregunta", f, :preguntas %></p>

  <div id="pie_pagina">
  <%= f.fields_for :footer do |builder|%>
    <%= builder.text_area :texto, :rows => 3 %>
  <% end %>
</div>

  <p><%= f.submit "Submit" %></p>
<% end %>


