<%= form_for(@encuesta, :url => ruta, :method => metodo) do |f| %>
  <% if @encuesta.errors.any? %>
    <div id="error_explanation">
      <% no_err = @encuesta.errors.count %>
      <h2><%=  pluralize(no_err, "error") %> <%if no_err > 1 %> impiden<%else%> impide <%end %>   guardar esta encuesta:</h2>

      <ul>
      <% @encuesta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  
  <%= f.fields_for :preguntas do |builder| %>
    <%= render "preguntas", :f => builder %>
  <% end %>

  <p><%= link_to_add_fields "Agregar pregunta", f, :preguntas %></p>

  <p><%= f.submit "Submit" %></p>
<% end %>


