<script >
  

  function agregar_encabezado(){
    $('#agregar_encabezado').hide();
    $('#quitar_encabezado').show();
    $('#encabezado').show("slow");
  }

  function quitar_encabezado(){
    $('#quitar_encabezado').hide();
    $('#agregar_encabezado').show();
    $('#encabezado').hide("slow");
    $('#encabezado').children().attr("value", " ");
  }

  function agregar_pie_pagina(){
    $('#agregar_pie_pagina').hide();
    $('#quitar_pie_pagina').show();
    $('#pie_pagina').show("slow");
  }

  function quitar_pie_pagina(){
    $('#quitar_pie_pagina').hide();
    $('#agregar_pie_pagina').show();
    $('#pie_pagina').hide("slow");
    $('#pie_pagina').children().attr("value", " ");
  }

  $(function() {
      $( "#datepicker" ).datepicker({ dateFormat: "dd-mm-yy" });
   });
</script>

<%= form_for(@encuesta, :url => ruta, :method => metodo) do |f| %>
  <% if @encuesta.errors.any? %>
    <div id="error_explanation">
      <% no_err = @encuesta.errors.count %>
      <h2><%=  pluralize(no_err, "error") %> <%if no_err > 1 %> impiden<%else%> impide <%end %>   guardar esta encuesta:</h2>

      <ul>
      <% @encuesta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div> 
    <%= f.label :nombre, "Nombre de la encuesta: ", :class => "margen-derecha"%><br/>
    <%= f.text_field :nombre %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.label :limite_contestar,"Fecha limite para contestar", :class => "margen-derecha" %>
    <%= f.text_field :limite_contestar, :id => "datepicker"  %>
  </div>

  <div id="resultados_publicos" class="margen-izquierdo-nil margen-superior margen-derecha">
    <%= f.label :resultados_publicos, "Resultados públicos", :class => "margen-derecha alineacion" %>
    <%= f.check_box :resultados_publicos, :class => "margen-superior" %>
  </div>

  <div class="margen-izquierdo-nil margen-superior margen-derecha">
    <%= f.label :login, "Requiere login?", :class => "margen-derecha alineacion" %>
    <%= f.check_box :login, :class => "margen-superior"  %>
  </div>

  <div style="margin: 20px;">
    <a id="agregar_encabezado" href="#" onclick="agregar_encabezado();">Agregar encabezado</a>
    <a id="quitar_encabezado" href="#" style="display: none;" onclick="quitar_encabezado();">Quitar encabezado</a>
  </div>

  <div id="encabezado" style="display: none;">
  <%= f.fields_for :encabezado do |builder|%>
    <%= builder.text_area :texto, :rows => 3, :style => "position:relative; width:100%; margin-bottom:20px;" %>
  <% end %>
  </div>
  <%= f.fields_for :preguntas do |builder| %>
    <%= render "preguntas", :f => builder %>
  <hr style=" height: 15px;color: #62c462;"></hr>
    <% end %>

  <p><%= link_to_add_fields "Agregar pregunta", f, :preguntas %></p>

  <div id="pie_pagina" style="display: none;">
  <%= f.fields_for :footer do |builder|%>
    <%= builder.text_area :texto, :rows => 3, :style => "position:relative; width:100%; margin-top:20px;" %>
  <% end %>
  </div>

  <div style="margin: 20px;">
    <a id="agregar_pie_pagina" href="#agregar_pie_pagina" onclick="agregar_pie_pagina();">Agregar pie de pagina</a>
    <a id="quitar_pie_pagina" href="#agregar_pie_pagina" style="display: none;" onclick="quitar_pie_pagina();">Quitar pie de pagina</a>
  </div>

  <div><%= f.submit "Guardar" %></div>

<% end %>


