<script>
  function agregar_encabezado(){
    $('#agregar_encabezado').hide();
    $('#quitar_encabezado').show();
    $('#encabezado').show("slow");
  }

  function quitar_encabezado(){
    $('#quitar_encabezado').hide();
    $('#agregar_encabezado').show();
    $('#encabezado').hide("slow");
    $('#encabezado').children().attr("value", " ");
  }

  function agregar_pie_pagina(){
    $('#agregar_pie_pagina').hide();
    $('#quitar_pie_pagina').show();
    $('#pie_pagina').show("slow");
  }

  function quitar_pie_pagina(){
    $('#quitar_pie_pagina').hide();
    $('#agregar_pie_pagina').show();
    $('#pie_pagina').hide("slow");
    $('#pie_pagina').children().attr("value", " ");
  }
</script>

<%= form_for(@encuesta, :url => ruta, :method => metodo) do |f| %>
  <% if @encuesta.errors.any? %>
    <div id="error_explanation">
      <% no_err = @encuesta.errors.count %>
      <h2><%=  pluralize(no_err, "error") %> <%if no_err > 1 %> impiden<%else%> impide <%end %>   guardar esta encuesta:</h2>

      <ul>
      <% @encuesta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <blockquote style="margin-bottom: 30px;">
    <p>
    <h3><%= f.label :nombre, "Nombre de la encuesta: ", :style => "margin-right: 10px;" %></h3><br/>
      <%= f.text_field :nombre %>
    </p>
  </blockquote>

  <div id="resultados_publicos">
      <%= f.label :resultados_publicos, "Resultados públicos", :style => "margin-right:10px; padding-bottom:7px;" %>
      <%= f.check_box :resultados_publicos, :style => "margin-top: 8px;" %>
    </div>

<div style="margin: 20px; margin-left: 0px;">
  <%= f.label :limite_contestar %>
  <%= f.date_select :limite_contestar  %>
</div>

  <div style="margin: 20px;">
    <a id="agregar_encabezado" href="#" onclick="agregar_encabezado();">Agregar encabezado</a>
    <a id="quitar_encabezado" href="#" style="display: none;" onclick="quitar_encabezado();">Quitar encabezado</a>
  </div>





  <div id="encabezado" style="display: none;">
  <%= f.fields_for :encabezado do |builder|%>
    <%= builder.text_area :texto, :rows => 3, :style => "position:relative; width:100%; margin-bottom:20px;" %>
  <% end %>
  </div>
  <%= f.fields_for :preguntas do |builder| %>
    <%= render "preguntas", :f => builder %>
  <hr style=" height: 15px;color: #62c462;"></hr>
    <% end %>

  <p><%= link_to_add_fields "Agregar pregunta", f, :preguntas %></p>

  <div id="pie_pagina" style="display: none;">
  <%= f.fields_for :footer do |builder|%>
    <%= builder.text_area :texto, :rows => 3, :style => "position:relative; width:100%; margin-top:20px;" %>
  <% end %>
  </div>

  <div style="margin: 20px;">
    <a id="agregar_pie_pagina" href="#agregar_pie_pagina" onclick="agregar_pie_pagina();">Agregar pie de pagina</a>
    <a id="quitar_pie_pagina" href="#agregar_pie_pagina" style="display: none;" onclick="quitar_pie_pagina();">Quitar pie de pagina</a>
  </div>

  <div><%= f.submit "Submit" %></div>

<% end %>


