<p>
  <%= f.label :texto, "Pregunta" %><br />
  <%= f.text_area :texto, :rows => 3 %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Eliminar" %>
</p>
<%= f.fields_for :respuestas do |builder| %>
  <%= render 'respuestas', :f => builder %>
<% end %>


