<script>
  function ocultarOpcional(id, select_id){
    if(id == 3){
      $("#po"+select_id).show();
    }else{
      $("#po"+select_id).hide();
    }
  }

  window.onload=function(){
    $('.pregunta_opcional').hide();
  }
</script>

<div class="fields">
  <p>
    <div style="margin: 10px;">
      <%= f.label :texto, "Tipo de pregunta", :style => "margin-right: 13px;" %>
      <% unless @x < 3 %>
        <script>
          $.post("<%= set_po_id_url %>.js");
        </script>
      <% end %>

      <%= f.collection_select :pregunta_tipo_id, PreguntaTipo.all, :id, :nombre, {}, {:onchange => "ocultarOpcional(this.value, this.id);", :id => @x, :class => "selects"} %>
    </div>

    <div style="margin-left: 15px;">
      <%= f.label :texto, "Pregunta:", :style => "margin-right: 8px;" %>
      <%= f.text_area :texto, :rows => 3 %>
      <%= link_to_remove_fields "Eliminar pregunta", f %>
    </div>
    <% if @x < 3 %>
      <div id="po<%= @x %>"class="pregunta_opcional" style="margin: 15px;">
        <%= f.label "Opcional?" %>
        <%= f.check_box(:opcional) %>
        <% @x = @x + 1 %>
      </div>
    <% else %>
      <div class="pregunta_opcional" style="margin: 15px;">
        <%= f.label "Opcional?" %>
        <%= f.check_box(:opcional) %>
      </div>
    <% end %>
  </p>

  <%= f.fields_for :opciones do |builder| %>
    <%= render 'opciones', :f => builder %>
  <% end %>

  <p><%= link_to_add_fields "Agregar opcion", f, :opciones %></p>
</div>
