<p >
  <h4>Estimado usuario</h4>
  La calidad en la prestación de nuestros servicios es nuestro compromiso, le invitamos a tomar
  unos minutos de su tiempo para evaluar el <b>SERVICIO DE EDUCACIÓN EN LÍNEA PARA MODALIDAD VIRTUAL (MOODLE)</b>;
  la presente encuesta ha sido elaborada para permitirnos conocer el nivel de satisfacción que usted tiene con el
  uso de éste servicio.
</p>
<p>
  Por favor seleccione la casilla según su opinión para cada pregunta:
</p>
<br/><br/>
<%= form_for(@encuesta, :url => capturar_url, :method => :post) do |f| %>
  <% if @encuesta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encuesta.errors.count, "error") %> impiden guardar esta encuesta:</h2>

      <ul>
      <% @encuesta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Encuesta: <%= @encuesta.nombre %>
  <% @preguntas.each do |pregunta| %>
  <br/><br/>
  <abbr><%= pregunta.texto %></abbr>
  <div style="margin: 11px; margin-left: 20px;">
    <% pregunta.opciones.each do |opcion| %>
      <% if pregunta.pregunta_tipo == PreguntaTipo.find_by_nombre("Sencilla") %>
        <%=  f.radio_button(pregunta.id,opcion.id,:checked => false, :class => "checkbox") %>
      <% else %>
        <% if pregunta.pregunta_tipo == PreguntaTipo.find_by_nombre("Multiple") %>
          <%= check_box_tag opcion.id %>
        <% else %>
          <%= text_field_tag opcion.id %>
        <% end %>
      <% end %>

      
      <%= opcion.contenido %>
    <% end %>
  </div>
  <% end %>
 
  <%= hidden_field_tag :encuesta_id, @encuesta.id%>
  <%= f.submit "Guardar"  %>
<% end %>

  <div style="max-width: 1020px; min-width: 720px;">
    <h6 style="float: left; margin-left: 15px; position: relative;">Fecha de revisión: 08/05/2008</h6>
    <h6 style="float: left; margin-left: 190px; position: relative;" >No. de rev.: 7</h6>
    <h6 style="float: right; margin-right: 0px; position: relative;">FOR 8.2 DAU 02</h6>
  </div>