<div id="GRAFICA_ENCUESTA">

<script>
  <% o = 0 %>
$(document).ready(function() {
  <% @encuesta.preguntas.each do |pregunta| %>
      var chart;
      <% o += 1 %>
    chart = new Highcharts.Chart({
        chart: {
                renderTo: 'container<%= o %>',
                defaultSeriesType: 'bar'
        },
        title: {
                text: '<%= pregunta.texto %>'
        },
     

      xAxis: {
        
        categories: [<% pregunta.opciones.each do |opcion| %> '<h5><%= opcion.contenido %></h5>',<%end%>],
         title: {
            text: null
         }
      },
      yAxis: {
         min: 0,
         title: {
            text: '',
            align: ''
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
                this.series.name +': '+ this.y +' respuestas';
         }
      },
      plotOptions: {
         bar: {
            dataLabels: {
               enabled: true
            }
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: -100,
         y: 100,
         floating: true,
         borderWidth: 1,
         backgroundColor: Highcharts.theme.legendBackgroundColor || '#FFFFFF',
         shadow: true
      },
      credits: {
         enabled: false
      },
      series: [{

            data: [<% pregunta.opciones.each do |opcion| %> <%= opcion.respuestas.count %>,<%end%>],
            showInLegend: false
      }]

    });
    
  <% end %>

});

</script>


<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
<% o = 0 %>

<% @encuesta.preguntas.each do  %>
    <% o += 1 %>
    <div id="container<%= o %>" style="width: 350px; height: 200px; margin: 0 auto"></div>
<% end %>


<script>
  $("#container").hide();

</script>

</div>