<h3>Mis encuestas</h3>
<br/>
<table class="table zebra-striped">
  <tbody>
<% @encuestas.each do |encuesta| %>

    
    <tr>
      <td> <%= encuesta.nombre %></td> 
  
    
        

      <td><%= link_to "Editar",edit_encuesta_url(encuesta) %></td>
      <td><%= link_to "Eliminar", encuesta_path(encuesta), :method => :delete, :confirm => "Esta seguro que desea eliminar?"%></td>

      <td><%= link_to "Contestar",contestar_encuesta_url(encuesta) %></td>
    </tr>

<% end %>
   </tbody>
</table>


<div class="digg_pagination" style="margin-bottom: 15px;">
<%= will_paginate @encuestas ,:class => "pagination"%>
  </div>

<%= link_to 'Crear nueva encuesta', new_encuesta_url%>