<h3>Mis encuestas</h3>
<% @encuestas.each do |encuesta| %>
    <% if encuesta_propia?(encuesta) or current_usuario.is_admin? %>
        <div>
          <%= encuesta.nombre %>
          <%  encuesta.preguntas.each do |pregunta| %>
            <%= pregunta.texto %>
          <% end %>
          <% if current_usuario_session and current_usuario.is_admin? %>
              <%= link_to "Eliminar", encuesta_path(encuesta), :method => :delete, :confirm => "Esta seguro que desea eliminar?"%>
          <% end %>
           <%= link_to "Contestar",contestar_encuesta_url(encuesta) %>
        </div>
    <% end %>
<% end %>

<%= link_to 'Crear nueva encuesta', new_encuesta_url %>

  <%= will_paginate @encuestas %>