<table class="table zebra-striped">
  <thead>
  <td>Nombre de la encuesta</td>
  <td>Concurrencia</td>
  <td><i class="icon-indent-right"></i></td>
  </thead>
  <tbody>
<% @encuestas.each do |encuesta| %>

      
    <tr>
      <td style="width: 600px;"> <%= encuesta.nombre %></td>
      <td> <%= encuesta.concurrencia %></td>
      <td> <%= link_to "Ver resultados", grafica_resultados_url(encuesta)%></td>
 
    </tr>
  
<% end %>
   </tbody>
</table>

<div class="digg_pagination" style="margin-bottom: 18px;"><%= will_paginate @encuestas %></div>

<p><%= link_to 'Crear nueva encuesta', new_encuesta_url %></p>