<!DOCTYPE html>
<html>
<head>
  <title>Encuestas</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_usuario_session %>
              <li><%= link_to "Cerrar sesion", logout_path, :method => :delete %></li>
             <% else %>
              <li><%= link_to "Iniciar sesion", new_user_session_path %></li>
            <% end %>
<%= yield %>
dfdghg
</body>
</html>
